@model progectS.VModel.VMDaylDetails

@{
    ViewData["Title"] = "DaylDetails";
}

<h1>@Model.Day.Plane.Name</h1>

<div>
    <h4>@Model.Day.DayName</h4>
    <h4>@Model.Day.Date</h4>
    <hr />
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="AddMeal" asp-route-id="@Model.Day.ID">הוספת ארוחה</a>|
    <a asp-action="ShowPlanes" asp-route-id="@DAL.Get.User.ID">הצגת תוכניות</a>
</div>
<div class="aside" style=" width:100%;max-width:500px">
    <canvas id="myChart" style="width:100%;max-width:450px"></canvas>
</div>
<div class="content">
    @if (Model.Day.Meals.Count > 0)
    {

        <div class="row">
            @foreach (Meal item in Model.Day.Meals)
            {

                <div class="col-sm-5 my-2">
                    <div class="card">
                        <div class="card-body text-center">

                            <h4 class="card-title">@item.MealName.Name</h4>
                            <p>סה"כ קלוריות: @item.SumCalories</p>
                            <p>סה"כ חלבונים: @item.SumProteins</p>
                            <p>סה"כ פחמימות: @item.SumCarbohydrates</p>
                            <a asp-action="MealDetails" asp-route-id="@item.ID" class="btn btn-primary">הצג ארוחה</a>
                        </div>

                    </div>
                </div>
            }

        </div>

    }
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>


<script>
    var xValues = [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000];

    new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                data: [860, 1140, 1060, 1060, 1070, 1110, 1330, 2210, 7830, 2478],
                borderColor: "red",
                fill: false
            }, {
                data: [1600, 1700, 1700, 1900, 2000, 2700, 4000, 5000, 6000, 7000],
                borderColor: "green",
                fill: false
            }, {
                data: [300, 700, 2000, 5000, 6000, 4000, 2000, 1000, 200, 100],
                borderColor: "blue",
                fill: false
            }]
        },
        options: {
            legend: { display: false }
        }
    });
</script>

