@model progectS.Models.Plane

<div>
    <h4>Plane</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("הוסף ארוחה לתוכנית", "AddMeal", new { id = Model.ID }) |
    <a asp-action="ShowPlanes" asp-route-id="@Model.User.ID">Back to List</a>
</div>
@if (Model.Meals.Count > 0)
{
    <h4> ארוחות בתוכנית </h4>
    <table class="table">
        <thead>
            <tr>
                <th>תאריך ארוחה</th>

                <th>שם הארוחה</th>

            </tr>
        </thead>

        <tbody>

            @foreach (Meal item in Model.Meals)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MealName.Name)
                    </td>
                </tr>
            }

        </tbody>
    </table>
}
